---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.vue';

const meta = {
	title: "Home"
}
---

<Layout meta={meta}>
	<main class="h-full flex justify-center items-center">
		<Hello />
	</main>
</Layout>
