---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.vue';

const meta = {
	title: "Home"
}
---

<Layout meta={meta}>
	<main class="h-full flex justify-center items-center">
		<div class="flex flex-col justify-center items-center">
			<Hello />
			<p class="text-4xl hover:brightness-75 select-none" data-toggle-color-scheme>Click to toggle color scheme</p>
		</div>
	</main>
</Layout>
